<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="startsida" content="width=device-width, initial-scale=1.0">
    <title>användar uppgifter</title>
</head>
<body>
    <div class="formulär">
        <form method="post" action='http://localhost:5000/'>
            <h1>Användar uppgifter</h1>
            <ul>
                <li>
                    <label>Betalsätt:
                    <select name="betala">
                        <option value="-1">Välj betalsätt</option>
                        <option value="1" >Kreditkort</option>
                        <option value="1" >Swish</option>
                        <option value="1" >faktura</option>
                    </select>
                </label>
                </li>
                <li>
                    <label>
                        Förnamn:
                        <input type="text" name="fNamn" />
                    </label>
                </li>
                <li>
                    <label>
                        efternamn:
                        <input type="text" name="efterNamn" />
                    </label>
                </li>
                <li>
                    <label>
                        Address:
                        <input type="text" name="address" />
                    </label>
                </li>
                <li>
                    <label>
                        Postnummer:
                        <input type="text" name="postNummer" />
                    </label>
                                        <label>
                        Ort:
                        <input type="text" name="ort" />
                    </label>
                </li>
                <li>
                    <label>
                        Nummer:
                        <input type="text" name="Nummer" />
                    </label>
                </li>
                <li>
                    <label>
                        epost:
                        <input type="text" name="ePost"
                    </label>
                </li>
                <li>
                    <label>
                        Lösenord:
                        <input type="text" name="losenord" />
                    </label>
                </li>
                <li>
                    <label>
                    reklam: <input type="checkbox" name="erbjudande" value="Ja" />
                </label>
                </li>
                <li>
                    <p>Epost-format:
                        <label>Html: <input type="radio" name="format" value="html" /></label>
                        <label>Text: <input type="radio" name="format" value="text" /></label>
                    </p>
                
                <label>
                    Dina kommentarer:
                    <textarea cols="20" rows="5" name="kommentar"></textarea>
                </label>
                
            </ul>
            <input type="submit" value="slutför" name="läggTillKnapp"/>
        <form>
    </div>
<div class="svar-wrapper">
    
    <li><p>Namn: {{fNamn}}</p></li>
    <li><p>Efternamn: {{efterNamn}} </p></li>
    <li><p>Address: {{address}}</p></li>
    <li><p>Postkod: {{postNummer}}</p></li>
    <li><p>Ort: {{ort}}</p></li>
    <li><p>Mobilnummer: {{Nummer}}</p></li>
    <li><p>E-post: {{ePost}}</p></li>
    <li><p>Betalsätt: {{betala}}</p></li>
    <li><p>Reklam: {{erbjudande}}</p></li>
    <li><p>Epost format: {{format}}</p></li>
    <li><p>Kommentar: {{kommentar}}</p></li>
    
<script>
    const sendData = async (url = '', data = {}) => {
        const response = await fetch(url, {
            method: 'POST', // *GET, POST, PUT, DELETE, etc.
            mode: 'cors', // no-cors, *cors, same-origin
            cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
            credentials: 'same-origin', // include, *same-origin, omit
            headers: {
                'Content-Type': 'application/json'
            },
            redirect: 'follow', // manual, *follow, error
            body: JSON.stringify(data) // body data type must match "Content-Type" header
        });
        return await response.json(); // parses JSON response into native JavaScript objects
    }

    document.querySelector('.submit').addEventListener('click', (e) => {
        const form = document.querySelector('form');
        const postData = Object.values(form).reduce((obj,field) => { obj[field.name] = field.value; return obj }, {});
        console.log(postData);
        sendData('http://localhost:5000/', postData)
            .then((data) => {
            console.log(data); // JSON data parsed by `response.json()` call
        });
        return false;
    });
</script>    
</body>
</html>